on:
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-16.04
    name: Go ${{ matrix.go }} sample
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15.15'
      - run: go test ./...
      - run: go build -o firebase-ctl ./cmd/firebase-ctl


